@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>
    University of Epicodus</h1>
  <small>Welcome back to University</small>
  <br>
  <button>@Html.ActionLink("New Student", "Create","Students")</button>
  <Button>@Html.ActionLink("New Course", "Create","Courses")</Button>
  <Button>@Html.ActionLink("New Department", "Create","Departments")</Button>
</div>