@{
  Layout = "_Layout";
}
@model University.Models.Department

<h4>Edit department</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.LabelFor(model => model.DepartmentName)
  @Html.TextBoxFor(model => model.DepartmentName,
new {@required="required"})

  <input type="submit" value="save" class="btn btn-default" />
}
<button>@Html.ActionLink("Show all departments", "Index")</button>